## STEP 1 - Scrape GPS coordinates

## Search GPS coordinates of all the cities provided by Marketing team from the https://nominatim.org/

Create the file contain the list of the city provided by Marketing Teamand their gps coordinates

In [1]:
import requests
import json
import pandas as pd

Scope of the project: top-35 cities to visit in France

In [2]:
cities = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

Create a dict contain the cities and their gps coordinates

In [3]:
citiesGeo = []
for indx,city in enumerate(cities):
    url = "https://nominatim.openstreetmap.org/search?q=%s+Fr&format=json"%(city)
    response = requests.get(url)
    if response.ok:
        cityGeo = {}
        data = json.loads(response.text)
        cityGeo.update({"CityID":indx,
                        "CityName":city,
                        "CityLat":data[0].get("lat"),
                        "CityLon":data[0].get("lon")})
    citiesGeo.append(cityGeo)

In [4]:
result = pd.DataFrame.from_dict(citiesGeo,orient='columns')
result.head()

   CityID           CityName     CityLat             CityLon
0       0  Mont Saint Michel  48.6359541  -1.511459954959514
1       1            St Malo   48.649518          -2.0260409
2       2             Bayeux  49.2764624          -0.7024738
3       3           Le Havre  49.4938975           0.1079732
4       4              Rouen  49.4404591           1.0939658

In [5]:
#Check the empty data
result.isna().sum().sum()

0

In [6]:
print("Number cities in the initial list :", len(cities))
print("Number cities in the final list :", len(citiesGeo))
assert len(cities)==len(citiesGeo)

Number cities in the initial list : 35
Number cities in the final list : 35

Save this dict in the csv file

In [7]:
result.to_csv("refCity.csv",index=False)